{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li><span>System</span></li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">Logs</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h5>System Logs</h5>

<section id="system-logs-full-table">
  {% include "system/includes/logs/table.html" %}
</section>

{% endblock body %}
