{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block body %}

<h5>Settings</h5>

<section class="grid split-grid">
  <article>
    <hgroup>
      <h6>System Einstellungen</h6>
      <p>Alle Einstellungen werden im Cluster geteilt.</p>
    </hgroup>
  </article>
  <div id="system-settings"
    hx-trigger="reloadSettings"
    hx-target="this"
    hx-select="#system-settings"
    hx-swap="outerHTML"
    hx-get="/system/settings">
    <form
      _="on htmx:afterRequest[event.detail.successful==true] from me trigger reloadSettings on #system-settings"
      id="system-settings-form"
      hx-trigger="submit throttle:200ms"
      hx-patch="/system/settings">
      {% with
        schema=forms.system.settings,
        current_data=settings
      %}
        {% include "includes/form_builder.html" %}
      {% endwith %}
      <button data-loading-disable type="submit">Speichern</button>
    </form>
  </div>
</section>


{% endblock body %}
