{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li><span>System</span></li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">Einstellungen</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h5>Settings</h5>

<section class="grid split-grid">
  <article>
    <hgroup>
      <h6>System Einstellungen</h6>
      <p>Alle Einstellungen werden im Cluster geteilt.</p>
    </hgroup>
  </article>
  <div id="system-settings"
    hx-trigger="htmx:afterRequest[event.detail.successful==true] from:#system-settings-form"
    hx-target="this"
    hx-select="#system-settings"
    hx-swap="outerHTML"
    hx-get="/system/settings">
    <form id="system-settings-form" hx-trigger="submit throttle:200ms" hx-patch="/system/settings">
      {% with
        schema=schemas.system_settings,
        current_data=settings.details,
        root_key="details"
      %}
        {% include "includes/form_builder.html" %}
      {% endwith %}
      <button data-loading-disable type="submit">Speichern</button>
    </form>
  </div>
</section>


{% endblock body %}
