{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block body %}

<h5>System Status - <a href="#" class="no-text-decoration"
    hx-on:click="!window.s?s=this.textContent:null;this.textContent='👍';setTimeout(()=>{this.textContent=s}, 1000)"
    hx-target="#system-status-cards"
    hx-select="#system-status-cards"
    hx-swap="outerHTML"
    hx-post="/system/status/refresh"
    hx-trigger="click throttle:1000ms"
    hx-vals="">
    ⟳ Refresh
  </a>
</h5>

<div id="system-status">
  <section id="system-status-cards" class="grid-auto-cols">
    <article>
      <h6>{{ data.status.CLUSTER_PEERS_LOCAL.name }} <span class="color-blue-400">This node</span></h6>
      <ul>
      {% for field in data.status.CLUSTER_PEERS_LOCAL.__dataclass_fields__ %}
        <li><span class="color-zinc-600">{{ field.split("_")|join(" ")|capitalize }}</span>: {{ data.status.CLUSTER_PEERS_LOCAL[field] }}</li>
      {% endfor %}
      </ul>
    </article>
    {% for peer, peer_data in data.status.CLUSTER_PEERS_REMOTE_PEERS.items() %}
    <article>
      <h6>{{ peer }} {% if peer == data.status.CLUSTER_PEERS_LOCAL.leader %}<span class="color-green-400">Leader</span>{% endif %}</h6>
      <ul>
      {% for field in peer_data.__dataclass_fields__ %}
        <li><span class="color-zinc-600">{{ field.split("_")|join(" ")|capitalize }}</span>:
        {% if field == "streams" %}
          <ul>
          {% if peer_data[field].ingress %}
            <li>Ingress stream OK</li>
          {% else %}
            <li><span class="color-red">Ingress stream failed</span></li>
          {% endif %}
          {% if peer_data[field].egress %}
            <li>Egress stream OK</li>
          {% else %}
            <li><span class="color-red">Egress stream failed</span></li>
          {% endif %}
          </ul>
        {% elif field == "meta" %}
          <ul>
          {% for meta_field in peer_data[field].__dataclass_fields__ %}
            <li><span class="color-zinc-600">{{ meta_field.split("_")|join(" ")|capitalize }}</span>: {{ peer_data[field][meta_field] }}</li>
          {% endfor %}
          </ul>
        {% else %}
          {{ peer_data[field] }}
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </article>
    {% endfor %}
  </section>
</div>
<hr>

<p>
  <small>
    <sup>1</sup> Critical protocol errors (e.g. checksum mismatches).<br>
    <sup>2</sup> The cluster peer's meta data is updated in transaction (lazy-update).<br>
  </small>
</p>

{% endblock body %}

