{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block body %}

<article id="profile"
  hx-trigger="htmx:afterRequest[event.detail.successful==true] from:#profile-form"
  hx-select="#profile"
  hx-get="/profile/"
  hx-target="this"
  hx-swap="outerHTML">
    <section>
    {% for role in session.get("acl", []) %}
      <mark>{{ role }}</mark>
    {% endfor %}
    </section>
    <form id="profile-form"
      hx-trigger="submit throttle:200ms"
      hx-patch="/profile/edit?doc_version={{ user.doc_version }}">
      {% with
        schema=forms.users.profile,
        current_data=user.profile
      %}
        {% include "includes/form_builder.html" %}
      {% endwith %}
      <button data-loading-disable data-loading-aria-busy type="submit">{{ L["Save"] }}</button>
    </form>
</article>

<section id="profile-passkeys">
  <h6>{{ L["Passkeys"] }}</h6>
  <div class="grid-auto-cols">
    {% for credential in user.credentials|sort(attribute="friendly_name") %}
    <article id="profile-credential-{{ credential.id }}">
      <div class="grid-space-between">
        <div _="install inlineHtmxRename()"
        contenteditable
        data-patch-parameter="friendly_name"
        spellcheck="false"
        hx-patch="/users/{{ session.id }}/credential/{{ credential.id }}"
        hx-trigger="editContent">
          {{- credential.friendly_name -}}
        </div>
        {% if session["cred_id"] == credential.id %}
        <mark>{{ L["Signed in"] }}</mark>
        {% endif %}
      </div>
      <fieldset>
        <label hx-patch="/users/{{ session.id }}/credential/{{ credential.id }}"
          hx-params="active"
          hx-trigger="change from:#cred-toggle-{{ credential.id }}"
          hx-vals='js:{"active":document.getElementById("cred-toggle-{{ credential.id }}").checked}'>
          <input id="cred-toggle-{{ credential.id }}"
            type="checkbox"
            role="switch" {{ "checked" if credential.active }} /> {{ L["Passkey enabled"] }}
        </label>
      </fieldset>
      <small>{{ L["Last sign in"] }}:
        {% if credential.last_login %}
        <span class="" value="{{ credential.last_login }}" _="init set dt to my @value js(dt) return new Date(dt).toLocaleString() end then put result into me"></span>
        {% else %}-
        {% endif %}
      </small>
      <hr>
      <a href="#" class="color-red"
        hx-confirm="Passkey wirklich entfernen?"
        _="install confirmButton on htmx:afterRequest[event.detail.successful==true] remove #profile-credential-{{ credential.id }} end"
        hx-trigger="confirmedButton throttle:200ms"
        hx-delete="/users/{{ session.id }}/credential/{{ credential.id }}">{{ L["Remove"] }}</a>
    </article>
    {% endfor %}
  </section>
  <form _="install addPasskey(register: false)">
    <button type="submit">{{ L["Add Passkey"] }}</button>
  </form>
</div>

{% endblock body %}
