{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block body %}

<h6>{{ L[request.view_args.get("object_type")|capitalize] }}</h6>

<details class="show-below-lg">
  <summary>{{ L["Create"] }}</summary>
  <article>
    <hgroup>
      <h6>{{ L["Create a new object"] }}</h6>
      <p>{{ L["Create a new object using the form below"] }}</p>
    </hgroup>
    {% include "objects/includes/create/" ~ request.view_args.get("object_type") ~ ".html" %}
  </article>
</details>

<section class="grid split-grid">
  <article class="hide-below-lg">
    <hgroup>
      <h6>{{ L["Create a new object"] }}</h6>
      <p>{{ L["Create a new object using the form below"] }}</p>
    </hgroup>
    {% include "objects/includes/create/" ~ request.view_args.get("object_type") ~ ".html" %}
  </article>
  <div id="{{ request.view_args.get("object_type") }}-full-table">
    {% include "objects/includes/objects/table.html" %}
  </div>
</section>

{% endblock body %}
