{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block body %}
<section class="grid split-grid">
  <article class="hide-below-lg">
    <hgroup>
      <h5 id="object-name">{{ object.name }}</h5>
      <p>{{ L["Manage details of an object"] }}</p>
    </hgroup>
  </article>

  <div id="object-details"
    hx-trigger="htmx:afterRequest[event.detail.successful==true] from:#object-form"
    hx-target="this"
    hx-select="#object-details"
    hx-select-oob="#object-name"
    hx-swap="outerHTML"
    hx-get="/objects/{{ request.view_args.get("object_type") }}/{{ object.id }}">

    <form id="object-form" _="on submit
      halt the event
      add @disabled to <[type='submit']/>
      add @aria-busy='true' to <[type='submit']/>
      call submitForm('/objects/{{ request.view_args.get('object_type') }}/{{ object.id }}', me, 'PATCH')
      remove @disabled from <[type='submit']/>
      remove @aria-busy from <[type='submit']/>
    end">
      {% with
        schema=forms.objects[request.view_args.object_type],
        current_data=object
      %}
        {% include "includes/form_builder.html" %}
      {% endwith %}
      <button data-loading-disable data-loading-aria-busy type="submit">Änderung speichern</button>
    </form>
  </div>
</section>

{% endblock body %}
