{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block body %}
<article class="login-mask">
  <p>{{ L["Welcome"] }} 👋</p>
  <div id="login-form" class="login-register">
    <form _="install login">
      <fieldset>
        <button type="submit"
          class="button-blue-700"
          autocomplete="username webauthn"
          autocapitalize="none"
          autocorrect="off"
          autofocus="autofocus">🔑 {{ L["Sign in with passkey"] }}</button>
      </fieldset>
    </form>
    <hr>
    <details>
      <summary>{{ L["Other options"] }}</summary>
      <div hx-disinherit="*">
        <ol>
          <li>
            <a href="#" class="no-text-decoration" hx-target="#login-form" hx-get="/auth/login/request" hx-push-url="false">
              {{ L["Sign in using other device"] }}
            </a>
          </li>
          <li>
            <a href="#" class="no-text-decoration" hx-target="#login-form" hx-get="/auth/login/token" hx-push-url="false">
              {{ L["Terminal confirmed sign-in token"] }}
            </a>
          </li>
        </ol>
      </div>
    </details>
  </div>
  <div id="register-form" class="login-register" hidden>
    <form _="install addPasskey(register: true)">
      <fieldset>
        <label for="webauthn-register">{{ L["Username"] }}:</label>
        <input type="text" id="webauthn-register" name="login"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          required>
        <small>{{ L["Pick a username"] }}.</small>
      </fieldset>
      <button type="submit">{{ L["Next"] }}</button>
    </form>
  </div>

</article>
{% endblock body %}
