<progress aria-busy="true" data-loading></progress>

<nav hx-target="#body-main">
  <ul>
    <li>
      <a class="logo" href="#" hx-get="/">
        {% include "logo.svg" %}
      </a>
    </li>
  </ul>
  <ul>
    {% if not session["login"] %}
    <li>
      <a class="contrast" role="button" _="
        on click
          halt the event
          get value of <[name=login]/> in #register-form
          set value of <[name=login]/> in #login-form to it as String
          toggle @hidden on .login-register
        end"
        href="#">
          <span class="login-register">{{ L["Sign up"] }}</span>
          <span class="login-register" hidden>{{ L["Sign in"] }}</span>
      </a>
    </li>
    {% else %}
    {% if "system" in session.get("acl", []) or "user" in session.get("acl", []) %}
    <li>
      <details class="dropdown" hx-on:click="event.target.nodeName==='A'?this.open=false:null">
        <summary>🧰</summary>
        <ul dir="rtl">
          <li>
            <a href="#" class="secondary" hx-get="/objects/projects">{{ L["Projects"] }}</a>
          </li>
          <li>
            <a href="#" class="secondary" hx-get="/objects/cars">{{ L["Cars"] }}</a>
          </li>
          <li>
            <a href="#" class="secondary" hx-get="/processings/upload">{{ L["AI recognition"] }}</a>
          </li>
          {% if "system" in session.get("acl", []) %}
          <li>
            <hr>
            <small>{{ L["Access"] }}</small>
          </li>
          <li>
            <a href="#" hx-get="/users">{{ L["Users"] }}</a>
          </li>
          <li>
            <a href="#" hx-get="/groups">{{ L["User groups"] }}</a>
          </li>
          <li>
            <hr>
            <small>{{ L["System"] }}</small>
          </li>
          <li>
            <a href="#" hx-get="/system/logs">{{ L["Logs"] }}</a>
          </li>
          <li>
            <a href="#" hx-get="/system/settings">{{ L["Settings"] }}</a>
          </li>
          <li>
            <a href="#" hx-get="/system/status">{{ L["Health"] }}</a>
          </li>
          {% endif %}
        </ul>
      </details>
    </li>
    {% endif %}
    <li>
      <details class="dropdown" hx-on:click="event.target.nodeName==='A'?this.open=false:null">
        <summary>👤 {{ session.login }}</summary>
        <ul dir="rtl">
          <li>
            <a href="#" hx-get="/profile/">{{ L["Profile"] }}</a>
          </li>
          <li>
            <hr>
            <a href="#" hx-post="/logout" hx-swap="innerHTML">{{ L["Sign out"] }}</a>
          </li>
        </ul>
      </details>
    </li>
    {% endif %}
  </ul>
</nav>

<details name="quick-control">
  <summary>{{ L["Quick settings"] }}</summary>
  {% if session["login"] %}
  <div hx-target="#body-main" class="grid-space-between">
    <button
    id="vault-dialog-toggle"
    _="on click
      halt the event
      add @open to #vault-dialog
      call #vault-unlock-pin.focus()
    end">
      🔒 <span id="vault-indicator"></span>
    </button>
    <div>
    {% for role in session.get("acl", []) %}
      <mark>{{ role }}</mark>
    {% endfor %}
    </div>
  </div>
  <dialog id="vault-dialog">
    <article>
      <header>
        <h6>{{ L["Manage Vault"] }}</h6>
      </header>
      <p>{{ L["Your vault will be kept unlocked until you refresh the window or lock it"] }}</p>
      <fieldset _="install vaultToggle">
        <input hx-disable
          id="vault-unlock-pin"
          name="vault-unlock-pin"
          type="password"
          placeholder="{{ L["Vault password"] }}"
          autocomplete="off"
          autocorrect="off"
          data-protonpass-ignore="true"
          autocapitalize="off"
          spellcheck="false"/>
        <a role="button" href="#" id="vault-unlock" data-vault='{{ session.profile.vault|tojson }}'>...</a>
      </fieldset>
      <footer>
        <button _="on click remove @open from closest <dialog/>">{{ L["Close"] }}</button>
      </footer>
    </article>
  </dialog>
  {% endif %}

  <div hx-target="#body-main" class="grid-end">
    <span id="ws-indicator"
      {% if session["login"] %}
      class="no-text-decoration"
      data-tooltip="{{ L["Disconnected"] }}"
      {% else %}
      class="no-text-decoration dark"
      data-tooltip="{{ L["Not signed in"] }}"
      {% endif %}
      hx-swap-oob="outerHTML">⭕</span>
    <span id="nav-theme-bulb"
      _="on updateTheme
          if not localStorage.theme
            if window.matchMedia('(prefers-color-scheme: light)').matches
              set (@data-theme of <html/>) to 'light'
            else
              set (@data-theme of <html/>) to 'dark'
            end
          else
            set (@data-theme of <html/>) to localStorage.theme
          end
          set my @class to (@data-theme of <html/>)
          set localStorage.theme to (@data-theme of <html/>)
        end
        init trigger updateTheme end
        on click
          halt the event
          if I match .light
            set (@data-theme of <html/>) to 'dark'
          else
            set (@data-theme of <html/>) to 'light'
          end
          set localStorage.theme to (@data-theme of <html/>)
          toggle between .light and .dark
        end
      ">&#128161;
    </span>
  </div>
</details>
