<progress data-loading></progress>

<nav hx-target="#body-main">
  <ul>
    <li>
      <a class="logo" href="#" hx-get="/">
        {% include "logo.svg" %}
      </a>
    </li>
  </ul>
  <ul>
    {% if not session["login"] %}
    <li>
      <a class="contrast" role="button" _="
        on click
          halt the event
          get value of <[name=login]/> in #register-form
          set value of <[name=login]/> in #login-form to it as String
          toggle @hidden on .login-register
        end"
        href="#">
          <span class="login-register">{{ L["Sign up"] }}</span>
          <span class="login-register" hidden>{{ L["Sign in"] }}</span>
      </a>
    </li>
    {% else %}
    {% if "system" in session.get("acl", []) or "user" in session.get("acl", []) %}
    <li>
      <details class="dropdown" hx-on:click="event.target.nodeName==='A'?this.open=false:null">
        <summary>🧰</summary>
        <ul dir="ltr">
          <li>
            <a href="#" class="secondary" hx-get="/objects/projects">{{ L["Projects"] }}</a>
          </li>
          <li>
            <a href="#" class="secondary" hx-get="/objects/cars">{{ L["Cars"] }}</a>
          </li>
          <li>
            <a href="#" class="secondary" hx-get="/processings/upload">{{ L["AI recognition"] }}</a>
          </li>
          {% if "system" in session.get("acl", []) %}
          <li>
            <hr>
            <small>{{ L["Access"] }}</small>
          </li>
          <li>
            <a href="#" hx-get="/users">{{ L["Users"] }}</a>
          </li>
          <li>
            <a href="#" hx-get="/groups">{{ L["User groups"] }}</a>
          </li>
          <li>
            <hr>
            <small>{{ L["System"] }}</small>
          </li>
          <li>
            <a href="#" hx-get="/system/logs">{{ L["Logs"] }}</a>
          </li>
          <li>
            <a href="#" hx-get="/system/settings">{{ L["Settings"] }}</a>
          </li>
          <li>
            <a href="#" hx-get="/system/status">{{ L["Health"] }}</a>
          </li>
          {% endif %}
        </ul>
      </details>
    </li>
    {% endif %}
    <li>
      <details class="dropdown" hx-on:click="event.target.nodeName==='A'?this.open=false:null">
        <summary>👤 {{ session.login }}</summary>
        <ul dir="ltr">
          <li>
            <a href="#" hx-get="/profile/">{{ L["Profile"] }}</a>
          </li>
          <li>
            <hr>
            <a href="#" hx-post="/logout" hx-swap="innerHTML">{{ L["Sign out"] }}</a>
          </li>
        </ul>
      </details>
    </li>
    {% endif %}
  </ul>
</nav>

<div class="grid-space-between">
  {% if session["login"] %}
  <a href="" id="vault-dialog-toggle" class="color-zinc-800 shine"
    _="on click halt the event add @open to #vault-dialog call (first .vault-unlock-pin in #vault-dialog).focus() end">
    {{ L["Vault loading"] }}...
  </a>
  <dialog id="vault-dialog" _="install vaultDialog">
  <article>
    <p class="grid-space-between">
      <b>{{ L["Vault"] }}</b>
      <a href="#" _="on click halt the event remove @open from closest <dialog/>">{{ L["Close"] }}</a>
    </p>
    <hr>
    <fieldset id="vault-unlock-fieldset">
      <label>{{ L["Vault password"] }}</label>
      <input hx-disable
        class="vault-unlock-pin"
        name="vault-unlock-pin"
        type="password"
        autocomplete="off"
        autocorrect="off"
        data-protonpass-ignore="true"
        autocapitalize="off"
        spellcheck="false"/>
      <small>{{ L["Your vault will be kept unlocked until you refresh the window or lock it"] }}</small>
    </fieldset>
    <button class="vault-unlock" data-vault='{{ session.profile.vault or "" }}'>...</button>
  </article>
  </dialog>
  {% endif %}
  <div id="nav-meta" class="small">
    <span>
      {% if session["login"] %}{{ L["Connection"] }}:{% endif %}
      <span id="ws-indicator" hx-swap-oob="outerHTML"></span>
    </span>
    <span>
      {{ L["Theme"] }}:
      <span id="nav-theme"
      _="init
          trigger updateTheme
        end

        on updateTheme
            if not localStorage.theme
              if window.matchMedia('(prefers-color-scheme: light)').matches
                toggleLight('light')
              else
                toggleLight('dark')
              end
            else
              toggleLight(localStorage.theme)
            end
        end

        on click
          halt the event
          if I match .light
            toggleLight('dark')
          else
            toggleLight('light')
          end
        end

        def toggleLight(mode)
          if mode == 'dark'
            set (@data-theme of <html/>) to 'dark'
            set #nav-theme's @class to 'dark'
            set localStorage.theme to 'dark'
            put '{{ L['light'] }}' into #nav-theme
          else
            set (@data-theme of <html/>) to 'light'
            set #nav-theme's @class to 'light'
            set localStorage.theme to 'light'
            put '{{ L['dark'] }}' into #nav-theme
          end
        end
      ">
      </span>
    </span>
  </div>
</div>
