{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block body %}

<section class="grid split-grid">
  <article class="hide-below-lg">
    <hgroup>
      <h6 id="user-login">{{ user.login }}</h6>
      <p>{{ L["Change details of a user"] }}</p>
    </hgroup>
  </article>

  <div id="user-details"
    hx-trigger="htmx:afterRequest[event.detail.successful==true] from:#user-form"
    hx-target="this"
    hx-select="#user-details"
    hx-select-oob="#user-login"
    hx-swap="outerHTML"
    hx-get="/users/{{ user.id }}">

    <form id="user-form"
      hx-trigger="submit throttle:200ms"
      hx-patch="/users/{{ user.id }}"
      _="on htmx:configRequest set event.detail.parameters['acl'] to '' unless length of (value of <input.user-acl:checked/>) as Array is not 0 end"
      hx-vals='js:{"active": document.getElementById("active").checked}'>
      <section>
        <h6>{{ L["General"] }}</h6>
        <fieldset>
          <label for="login">{{ L["Username"] }}</label>
          <input name="login"
            type="text"
            id="login"
            value="{{ user.login }}"
            required
            hx-on:change="document.getElementById('login').textContent=this.value">
        </fieldset>
        <fieldset>
          <label>
            <input id="active"
              type="checkbox"
              role="switch" {{ "checked" if user.active }} /> {{ L["User enabled"] }}
          </label>
        </fieldset>
      </section>

      <section>
        <fieldset>
          <h6>ACL</h6>
          {% for acl in USER_ACLS %}
          <input
            role="switch"
            id="acl-{{- acl -}}"
            class="user-acl"
            {% if session["id"] == user.id %}
            hx-on:click="!this.checked?(confirm('You are logged in as this user. Removing access may result in a broken session.')?null:event.preventDefault()):null"
            {% endif %}
            value="{{ acl }}"
            name="acl"
            type="checkbox" {{ "checked" if acl in user.acl }}>
          <label for="acl-{{- acl -}}">{{ acl|capitalize }}</label>
          {% endfor %}
        </fieldset>
      </section>

      <section>
        <h6>{{ L["Profile"] }}</h6>
        {% with
          schema=forms.users.profile,
          current_data=user.profile,
          root_key="profile"
        %}
          {% include "includes/form_builder.html" %}
        {% endwith %}
      </section>

      <article>
        <h6>Passkeys</h6>
        {% if not user.credentials %}
        <i>No passkeys available</i>
        {% endif %}
        {% for credential in user.credentials %}
        <fieldset>
          {% if session["cred_id"] == credential.id %}
            <mark>{{ L["Signed in"] }}</mark>
          {% endif %}
          <div _="install inlineHtmxRename()"
          contenteditable
          data-patch-parameter="friendly_name"
          spellcheck="false"
          hx-disinherit="*"
          hx-patch="/users/{{ user.id }}/credential/{{ credential.id }}"
          hx-trigger="editContent">
            {{- credential.friendly_name -}}
          </div>
          <div>
            <a href="#" class="{{ "color-red" if not credential.active else "color-green"}}"
              hx-patch="/users/{{ user.id }}/credential/{{ credential.id }}"
              hx-vals='js:{"active": {{ "true" if not credential.active else "false"}}}'
              hx-params="active">{{ L["Passkey disabled"] if not credential.active else L["Passkey enabled"] }}</a>
            <a href="#" class="color-red"
              hx-confirm="Delete passkey?"
              _="install confirmButton"
              hx-trigger="confirmedButton throttle:200ms"
              hx-delete="/users/{{ user.id }}/credential/{{ credential.id }}">{{ L["Remove"] }}</a>
          </div>
          <small>{{ L["Last sign in"] }}:
            {% if credential.last_login %}
            <span class="" value="{{ credential.last_login }}" _="init set dt to my @value js(dt) return new Date(dt).toLocaleString() end then put result into me"></span>
            {% else %}-
            {% endif %}
          </small>
        </fieldset>
        <hr>
        {% endfor %}
      </article>

      <button data-loading-disable data-loading-aria-busy type="submit">{{ L["Save"] }}</button>
    </form>

  </div>
</section>

{% endblock body %}


