{% if not request.headers.get("Hx-Request") %}
{% extends "base.html" %}
{% endif %}

{% block menu %}
{% endblock menu %}

{% block body %}
<article class="login-mask" _="on proxyAuthSuccess from body
    put '<center>{{ L["Thank you"] }} 👍</center>' into me
  end">
  <h5>{{ L["Confirm sign-in request"] }}</h5>
  <p>{{ L["Authenticating as"] }} <mark>{{ login|e }}</mark></p>
  <p>{{ L["Your session, if any, will be upheld and not replaced by the current authentication process"] }}</p>
  <form _="install login">
    <fieldset>
      <button type="submit"
        autocomplete="username webauthn"
        autocapitalize="none"
        autocorrect="off"
        autofocus="autofocus">🔑 {{ L["Sign in with passkey"] }}</button>
    </fieldset>
  </form>
</article>

{% endblock body %}


