<form
  data-loading-disable
  hx-trigger="submit throttle:1s"
  hx-post="/auth/register/webauthn/options">
    <input type="hidden" name="token" value="{{ token }}">
    <div>
      <h6>Your token: <mark>{{ token }}</mark></h6>
      <p>
        Please ask an administrator to verify your token and swap it for a confirmation code.<br>
        After validation you will be asked to register a passkey.
      </p>
      <footer>
        <fieldset>
          <label for="confirmation_code">Confirmation code</label>
          <input type="text" id="confirmation_code" name="confirmation_code"
            pattern="[0-9]*"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            required>
          <button type="submit"
            hx-target="this"
            id="register"
            hx-swap="innerHTML">
              Register
          </button>
        </fieldset>
      </footer>
    </div>
</form>
