<div id="processings" hx-swap="outerHTML" hx-get="/processings" hx-trigger="removeProcessing, reloadProcessings">
  {% if data.total > 0 %}
  <section class="hide-below-md">
    🔎
    <a href="#" _="on click
      halt the event
      add .grid-span-all to <article/> in #processings
      trigger resize on window
    end">{{ L["Larger elements"] }}</a>
    ―
    <a href="#" _="on click
      halt the event
      remove .grid-span-all from <article/> in #processings
      trigger resize on window
    end">{{ L["Smaller elements"] }}</a>
  </section>

  <div class="grid-auto-cols">
  {% for processing in data["items"] %}
    <article id="processing-{{ processing.id }}" _="on change from <form/> in me remove @hidden from .changed in me end">
      <p class="hide-below-md">
        <small>
          <a href="#" _="on click
            halt the event
            toggle .grid-span-all on #processing-{{ processing.id }}
            trigger resize on window
          end">{{ L["Toggle size"] }} 🔎</a>
        </small>
      </p>
      <h6>{{ processing.filename|truncate(30, True, '...') }} </h6>
      <form class="create-object"
        hx-trigger="submit throttle:200ms"
        hx-post="/objects/cars"
        hx-disinherit="*"
        _="on htmx:afterRequest[event.detail.successful==true]
          trigger completeObject on .complete-object in #processing-{{ processing.id }}
        end">
        {% if processing.vin %}
        <fieldset>
          <label for="vin-{{ processing.id }}">{{ L["VIN"] }}</label>
          <input id="vin-{{ processing.id }}" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" type="text" name="vin" value="{{ processing.vin }}">
        </fieldset>
        {% else %}
        <fieldset>
          <label for="vin-{{ processing.id }}">{{ L["VIN"] }}</label>
          <input id="vin-{{ processing.id }}" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" type="text" name="vin" value="" aria-invalid="true">
          <small>❗ {{ L["No VIN detected"] }}</small>
        </fieldset>
        {% endif %}

        <fieldset>
          <label for="project-{{ processing.id }}">{{ L["Project"] }}</label>
          <select autocomplete="off"
            name="assigned_project"
            id="project-{{ processing.id }}">
            {% for project_id, project_data in request.form_options.projects.items() if project_data.permitted == True %}
            <option value="{{ project_id }}">{{ project_data.name }}</option>
            {% endfor %}
            <option value="" selected>{{ L["No assignment"] }}</option>
          </select>
        </fieldset>

        <fieldset data-field-type="location">
          <legend>{{ L["Location"] }}</legend>
          {% if processing.location and processing.location._is_valid %}
          <input type="hidden" name="location.lon" value='{{ processing.location.lon }}' />
          <input type="hidden" name="location.lat" value='{{ processing.location.lat }}' />
          <input type="hidden" name="location.display_name" value='{{ processing.location.display_name }}' />
          <p>
            {{ L["Extracted location"] }}: {{ processing.location.display_name }}
          </p>
          {% else %}
          <p>{{ L["The image did not contain location data"] }}.</p>
          {% endif %}
        </fieldset>

        <fieldset>
          <legend>{{ L["Files"] }}</legend>
          <p>
            <small>{{ L["Related Files"] }}</small>
          </p>
          {% if processing.assets %}
            {% for asset in processing.assets %}
            <details>
              <summary>{{ L["Attachment"] }} {{ loop.index }} - "{{ asset.filename }}"</summary>
              {% if asset.mime_type.startswith("image/") %}
              <img src="/asset/{{ asset.id }}" alt="- {{ asset.filename }}"/>
              {% endif %}
            </details>
            {% endfor %}
            <input type="hidden" name="assets" value='{{ processing.assets|tojson }}'/>
          {% else %}
          <p>
            <mark>{{ L["No files available"] }}</mark>
          </p>
          {% endif %}
        </fieldset>

        <div class="grid-space-between">
          <button data-loading-disable type="submit" class="no-text-wrap" _="install buttonCheckHtmxResponse">{{ L["Create"] }}</button>
          <a role="button" class="button-red" _="install confirmButton
              on confirmedButton
                trigger removeObject on .remove-object in #processing-{{ processing.id }}
              end">{{ L["Discard"] }}</a>
        </div>
      </form>

      <form class="remove-object"
        hx-trigger="removeObject"
        hx-vals='{"id": "{{ processing.id }}", "reason": "abort"}'
        hx-post="/processings/processing/finalize">
      </form>

      <form class="complete-object"
        hx-trigger="completeObject"
        hx-vals='{"id": "{{ processing.id }}", "reason": "completed"}'
        hx-post="/processings/processing/finalize">
      </form>

      <a href="#" hx-get="/processings/processing/{{ processing.id }}" hx-select="#processing-{{ processing.id }}" hx-target="#processing-{{ processing.id }}" hx-swap="outerHTML"
        class="text-underline color-indigo changed" hidden>{{ L["Discard changes and reload"] }}?</a>
    </article>
    {% endfor %}
  </div>
  {% else %}
  <article>{{ L["No elements remaining"] }}🥳</article>
  {% endif %}
</div>
