<div id="processings" hx-swap="outerHTML" hx-get="/processings" hx-trigger="removeProcessing, reloadProcessings">
  {% if processings|length > 0 %}
  <section class="hide-below-md">
    🔎 Alle Elemente
    <a href="#" _="on click
      halt the event
      add .grid-span-all to <article/> in #processings
      trigger resize on window
    end">vergrößern</a>
    ―
    <a href="#" _="on click
      halt the event
      remove .grid-span-all from <article/> in #processings
      trigger resize on window
    end">verkleinern</a>
  </section>

  <div class="grid-auto-cols">
  {% for processing in processings %}
    <article id="processing-{{ processing.id }}" _="on change from <form/> in me remove @hidden from .changed in me end">
      <p class="hide-below-md">
        <small>
          <a href="#" _="on click
            halt the event
            toggle .grid-span-all on #processing-{{ processing.id }}
            trigger resize on window
          end">Vergrößern 🔎</a>
        </small>
      </p>
      <h6>{{ processing.filename|truncate(30, True, '...') }} </h6>
      <form class="create-object"
        hx-trigger="submit throttle:200ms"
        hx-post="/objects/cars"
        hx-disinherit="*"
        _="on htmx:afterRequest[event.detail.successful==true]
          trigger completeObject on .complete-object in #processing-{{ processing.id }}
        end">
        {% if processing.vin %}
        <fieldset>
          <label for="vin-{{ processing.id }}">Fahrgestellnummer</label>
          <input id="vin-{{ processing.id }}" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" type="text" name="details.vin" value="{{ processing.vin }}">
        </fieldset>
        {% else %}
        <fieldset>
          <label for="vin-{{ processing.id }}">Fahrgestellnummer</label>
          <input id="vin-{{ processing.id }}" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" type="text" name="details.vin" value="" aria-invalid="true">
          <small>❗Nicht automatisch erkannt, bitte ergänzen.</small>
        </fieldset>
        {% endif %}

        <fieldset>
          <label for="project-{{ processing.id }}">Projekt</label>
          <select autocomplete="off"
            name="details.assigned_project"
            id="project-{{ processing.id }}">
            {% for project_id, project_data in request.form_options.projects.items() if project_data.permitted == True %}
            <option value="{{ project_id }}">{{ project_data.name }}</option>
            {% else %}
            <option value="" disabled selected>Kein Projekt verfügbar</option>
            {% endfor %}
          </select>
          <small>Eindeutige Projektzuordnung</small>
        </fieldset>

        <fieldset data-field-type="location">
          <legend>Standort</legend>
          {% if processing.location and processing.location._is_valid %}
          <input type="hidden" name="details.location.lon" value='{{ processing.location.lon }}' />
          <input type="hidden" name="details.location.lat" value='{{ processing.location.lat }}' />
          <input type="hidden" name="details.location.display_name" value='{{ processing.location.display_name }}' />
          <p>
            Ermittelter Standort: {{ processing.location.display_name }}
          </p>
          {% else %}
          <p>Den Bilddaten konnte keine Position entnommen werden.</p>
          {% endif %}
        </fieldset>

        <fieldset>
          <legend>Dateien</legend>
          <p>
            <small>Zugehörige Dateien</small>
          </p>
          {% if processing.assets %}
            {% for asset in processing.assets %}
            <details>
              <summary>Anlage {{ loop.index }} - "{{ asset.filename }}"</summary>
              {% if asset.mime_type.startswith("image/") %}
              <img src="/asset/{{ asset.id }}" alt="- {{ asset.filename }}"/>
              {% endif %}
            </details>
            {% endfor %}
            <input type="hidden" name="details.assets" value='{{ processing.assets|tojson }}'/>
          {% else %}
          <p>
            <mark>Keine Dateien verfügbar</mark>
          </p>
          {% endif %}
        </fieldset>

        <div class="grid-space-between">
          <button data-loading-disable type="submit" class="no-text-wrap" _="install buttonCheckHtmxResponse">Hinzufügen</button>
          <a role="button" class="button-red" _="install confirmButton
              on confirmedButton
                trigger removeObject on .remove-object in #processing-{{ processing.id }}
              end">Verwerfen</a>
        </div>
      </form>

      <form class="remove-object"
        hx-trigger="removeObject"
        hx-vals='{"id": "{{ processing.id }}", "reason": "abort"}'
        hx-post="/processings/processing/finalize">
      </form>

      <form class="complete-object"
        hx-trigger="completeObject"
        hx-vals='{"id": "{{ processing.id }}", "reason": "completed"}'
        hx-post="/processings/processing/finalize">
      </form>

      <a href="#" hx-get="/processings/processing/{{ processing.id }}" hx-select="#processing-{{ processing.id }}" hx-target="#processing-{{ processing.id }}" hx-swap="outerHTML"
        class="text-underline color-indigo changed" hidden>Änderung verwerfen und neu laden?</a>
    </article>
    {% endfor %}
  </div>
  {% else %}
  <article>Keine ungespeicherten Elemente vorhanden 🥳</article>
  {% endif %}
</div>
