{% if data.total > 0 %}
<section>
  <mark>{{ data.total }}</mark> {{ L["Element"] if data.total == 1 else L["Elements"] }}
  <span class="hide-below-md small">
    | 🔎 <a href="#" _="on click
      halt the event
      add .grid-span-all to <article/> in #processings
      trigger resize on window
    end">{{ L["Larger elements"] }}</a>
    ―
    🔎 <a href="#" _="on click
      halt the event
      remove .grid-span-all from <article/> in #processings
      trigger resize on window
    end">{{ L["Smaller elements"] }}</a>
  </span>
</section>
<div class="grid-auto-cols">
{% for processing in data["items"] %}
  {% with processing=processing %}
    {% include "processings/processing.html" %}
  {% endwith %}
  {% endfor %}
</div>
{% else %}
<article>{{ L["No elements remaining"] }}🥳</article>
{% endif %}
<span _="init put '{{ data.total }}' into #processings-count remove me end" hidden></span>
