<article id="processing-{{ processing.id }}" _="on change from <form/> in me remove @hidden from .changed in me end">
  <p class="hide-below-md">
    <small>
      <a href="#" _="on click
        halt the event
        toggle .grid-span-all on #processing-{{ processing.id }}
        trigger resize on window
      end">{{ L["Toggle size"] }} 🔎</a>
    </small>
  </p>

  <h6>{{ processing.filename|truncate(30, True, '...') }} </h6>
  <form class="create-object"
    hx-trigger="createObject throttle:200ms"
    hx-post="/objects/cars"
    hx-disinherit="*"
    _="on htmx:afterRequest[event.detail.successful==true]
      trigger completeObject on .complete-object in #processing-{{ processing.id }}
    end">
    {% with
      schema=forms.objects.processings,
      current_data=processing
    %}
      {% include "includes/form_builder.html" %}
    {% endwith %}

    {% if processing.metadata %}
    <fieldset>
      <legend>{{ L["Metadata"] }}</legend>
      <p><small>{{ L["Metadata from processor"] }}</small></p>
      {% for meta in processing.metadata %}
      <details>
        <summary>{{ L[meta|capitalize] }}</summary>
        <blockquote>{{ processing.metadata[meta] }}</blockquote>
      </details>
      {% endfor %}
    </fieldset>
    {% endif %}

    <div class="grid-space-between">
      <button data-loading-disable _="on click trigger createObject end" _="install buttonCheckHtmxResponse">{{ L["Create"] }}</button>
      <button data-loading-disable class="button-red" _="install confirmButton
          on confirmedButton
            trigger removeObject on .remove-object in #processing-{{ processing.id }}
          end">
          {{- L["Discard"] -}}
      </button>
    </div>
  </form>

  <form class="remove-object"
    hx-trigger="removeObject"
    hx-vals='{"id": "{{ processing.id }}", "reason": "abort"}'
    hx-post="/processings/processing/finalize">
  </form>

  <form class="complete-object"
    hx-trigger="completeObject"
    hx-vals='{"id": "{{ processing.id }}", "reason": "completed"}'
    hx-post="/processings/processing/finalize">
  </form>

  <a href="#" hx-get="/processings/processing/{{ processing.id }}" hx-select="#processing-{{ processing.id }}" hx-target="#processing-{{ processing.id }}" hx-swap="outerHTML"
    class="text-underline color-indigo changed" hidden>{{ L["Discard changes and reload"] }}?</a>
</article>
