{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" id="nav-breadcrumb" hx-swap-oob="true">
  <ul>
    <li><span>{{ L["Objects"] }}</span></li>
    <li><a href="#" hx-target="#body-main" hx-get="{{ request.path }}">{{ L["AI recognition"] }}</a></li>
  </ul>
</nav>
{% endblock breadcrumb %}

{% block body %}

<h5>Fotos und Dateien importieren </h5>

<section>
  <div class="input-select grid-stretch" _="on click from <label/> in me
      call #tasks-form.reset()
      if event.target's @data-value is 'text-input' remove @hidden
        remove @hidden from #text-input
      else
        add @hidden to #text-input
      end
    end">
    <label for="camera-file-input" data-value="camera-input">
        📷 {{ L["Open camera"] }}
    </label>
    <label for="data-file-input" data-value="file-input">
      📄 {{ L["Upload file/s"] }}
    </label>
    <label data-value="text-input">
      📝 {{ L["Enter text"] }}
    </label>
  </div>

  <section>
    <form id="tasks-form" hx-target="#tasks"
      hx-swap="innerHTML"
      hx-encoding="multipart/form-data"
      hx-post="/processings/upload/process">
      <input id="camera-file-input" type="file" multiple accept="image/*" capture="environment" name="images" hidden _="on change trigger submit on closest <form/> end">
      <input id="data-file-input" type="file" multiple accept="*" name="files" hidden _="on change trigger submit on closest <form/> end">
      <article id="text-input" hidden>
        <fieldset data-loading-disable>
          <label>📝 {{ L["Enter text"] }}</label>
          <textarea name="text_data" rows="10" placeholder="VIN-Nummern oder Text hier einfügen..."></textarea>
          <button data-loading-disable type="submit">{{ L["Process text"] }}</button>
        </fieldset>
      </article>
      <div _="install xhrProgress" hidden></div>
    </form>
  </section>

  <div id="tasks" hx-swap="innerHTML" hx-get="/processings/tasks" hx-trigger="load once">
    <article aria-busy="true">Lade Aufgaben...</article>
  </div>

  <div id="processings" hx-swap="outerHTML" hx-get="/processings" hx-trigger="load once">
    <article aria-busy="true">Lade Speicher...</article>
  </div>
</section>

{% endblock body %}
