<tr _="install trCheckboxSelect">
  <td>
    <input type="checkbox" class="multiselect" name="id" value="{{ user.id }}" autocomplete="off">
    <a href="#" hx-target="#body-main" hx-push-url="true" hx-get="/users/{{ user.id }}">
      {{- user.login -}}
    </a>
    {% if session["id"] == user.id %}<mark>You</mark>{% endif %}
  </td>
  <td class="created-modified">
    <small _="init js return new Date('{{- user.created -}}').toLocaleString() end then put result into me">{{- user.created -}}</small>
    {% if user.created != user.updated %}
      <br>&#9999;&#65039; <small _="init js return new Date('{{- user.updated -}}').toLocaleString() end then put result into me">{{- user.updated -}}</small>
    {% endif %}
  </td>
</tr>
