<form id="system-logs-table-search"
  hx-trigger="logsReady, keyup changed from:input[name=q] delay:100ms, submit throttle:100ms"
  hx-post="/system/logs/search"
  hx-target="#system-logs-table-body">
  <fieldset>
    <input type="text" name="q"
      hx-on:keydown="event.keyCode==13?event.preventDefault():null"
      placeholder="Type to search"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false" />
  </fieldset>
  <small>
    <a href="#" id="system-logs-refresh" class="color-blue no-text-decoration"
    hx-get="/system/logs/refresh"
    hx-trigger="load once, click throttle:100ms, refreshLogs"
    data-loading-disable>
      ↺ {{ L["Refresh Logs"] }}
    </a>
  </small>
</form>
<div class="overflow-auto">
  <table id="system-logs-table">
    <tbody id="system-logs-table-body"></tbody>
  </table>
</div>
