<div id="login-form" class="login-register" {{ "hidden" if hidden }}>
  <form _="install login">
    <fieldset>
      <label for="webauthn-login">Wer meldet sich an?</label>
      <input type="text" id="webauthn-login" name="login"
        autocomplete="username webauthn"
        autofocus>
      <small>Du wirst nach einem Passkey gefragt</small>
    </fieldset>
    <fieldset>
      <button type="submit">Anmelden</button>
    </fieldset>
    <hr>
    <details>
      <summary>Andere Optionen</summary>
      <div hx-disinherit="*">
        <ol>
          <li>
            <a href="#" class="no-text-decoration" id="token-authentication"
            hx-post="/auth/login/request/start"
            hx-target="#body-main"
            hx-swap="innerHTML">
              Angemeldeten Benutzern mit dem selben Login eine Anfrage senden.</a>
          </li>
          <li>
            <a href="#" class="no-text-decoration" hx-target="#login-form" hx-get="/auth/login/token" hx-push-url="false">
              Terminal verwenden, um einen Code zu bestätigen.
            </a>
          </li>
        </ol>
      </div>
    </details>
  </form>
</div>
