{% if not request.headers.get("Hx-Request") %}
  {% extends "base.html" %}
{% endif %}


{% block body %}

<h6>{{ L["Groups"] }}</h6>

<details class="show-below-lg">
  <summary>{{ L["Create group"] }}</summary>
  <article>
    <form hx-disable _="on submit
        halt the event
        set newGroup to value of first <input[name='group']/> in me
        if $names does not contain newGroup and newGroup is not empty
          append newGroup to $names
          render #group-template with (name: newGroup, members: [], newGroup: true)
          put the result at the end of #user-groups
          call htmx.process(#user-groups)
          add @hidden to .no-user-groups
          transition .user-group's opacity to 1 over 175ms
        end
        remove @disabled from <fieldset/> in me
      end">
      <fieldset>
        <input autocomplete="off" name="group" type="text" placeholder="New group name" />
        <button type="submit">{{ L["Save"] }}</button>
      </fieldset>
    </form>
  </article>
</details>

<section class="grid split-grid">
  <article class="hide-below-lg">
    <hgroup>
      <h6>{{ L["Create group"] }}</h6>
      <p>{{ L["Create a new group"] }}</p>
    </hgroup>
    <form hx-disable _="on submit
        halt the event
        set newGroup to value of first <input[name='group']/> in me
        log $names
        if $names does not contain newGroup and newGroup is not empty
          append newGroup to $names
          render #group-template with (name: newGroup, members: [], newGroup: true)
          put the result at the end of #user-groups
          call htmx.process(#user-groups)
          add @hidden to .no-user-groups
          transition .user-group's opacity to 1 over 175ms
        end
      end">
      <fieldset>
        <input autocomplete="off" name="group" type="text" placeholder="New group name" />
        <button type="submit">{{ L["Save"] }}</button>
      </fieldset>
    </form>
  </article>
  <div>
  {% include "groups/includes/list.html" %}
  </div>
</section>


{% endblock body %}
