<!doctype html>
<html lang="en" on>
  <head>
    <meta charset="utf-8">
    <meta name="htmx-config" content='{"htmx.config.allowScriptTags":"false"}'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Carrr</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="manifest" href="/static/manifest.json" />
    <meta name="theme-color" content="var(--pico-primary)">
    <link href="/static/css/pico-custom.css" rel="stylesheet">
    <link href="/static/css/leaflet.css" rel="stylesheet">
    <script>
      const theme = localStorage.getItem('theme') || 'light';
      document.documentElement.dataset.theme = theme;
    </script>
    <script type="text/hyperscript" src="/_hs/common._hs" defer></script>
    <script type="text/hyperscript" src="/_hs/leaflet._hs" defer></script>
    <script type="text/hyperscript" src="/_hs/vault._hs" defer></script>
    <script type="text/hyperscript" src="/_hs/svg_markers._hs" defer></script>
    <script src="/static/bundle.js"></script>
  </head>

  <body _="install bodydefault" hx-ext="loading-states">
    <header>
    {% block menu %}
      {% include "includes/menu.html" %}
    {% endblock %}
    </header>

    <main id="body-main" hx-history-elt>
    {% block body %}
    {% endblock %}
    </main>

    <footer>
    {% block footer %}
      {% if session["login"] %}
      <div hx-ext="ws" ws-connect="/ws" _="
        init
          set :wsValue to (<input[name]/> in me)
          set value of :wsValue to location.pathname
        end
        on load 1
          repeat forever
            trigger wsSendPath on body
            wait 3s
          end
        end
        on htmx:historyCacheHit from body
          set value of :wsValue to location.pathname
          trigger wsSendPath on body
        end
        on htmx:beforeRequest[event.detail.requestConfig.verb=='get'] from body
          set value of :wsValue to event.detail.requestConfig.path
          trigger wsSendPath on body
        end
        on htmx:afterRequest from body
          set value of :wsValue to location.pathname
          trigger wsSendPath on body
        end
      ">
        <input ws-send name="path" value="" id="ws-path" hx-trigger="wsSendPath from:body" type="hidden" />
        <div id="ws-recv"></div>
      </div>
      {% endif %}
      {% include "includes/notifications.html" %}
      <dialog id="img-zoom" _="on click
        if event.target is in me
        put '' into me
        remove @open from me
        remove .no-interaction from body
      end"></dialog>
    {% endblock %}
    </footer>
  </body>
</html>
